* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: lightblue;
    padding: 48px;
}

section {
    background-color: aliceblue;
    padding: 24px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    color: darkblue;
}

a:hover {
    color: black;
}

li {
    list-style-type: none;
    text-align: center;
}

.caption {
    text-align: center;
    font-size: 12px;
}

#chef {
    margin-bottom: -2%;
}